@media all {
    html,
    body {
        margin: 0;
        padding: 0;
    }
}
body {
    margin: 20px auto;
    width: 750px;
    background-color: #ccc;
}
header {
    text-align: center;
    padding-bottom: 14px;
    margin-bottom: 40px;
    border-bottom: 2px solid grey;
}
address {
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    color: #333;
}
section.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    box-shadow: 6px 6px 20px #888;
}
p {
    font-family: Helvetica;
    font-size: 14px;
    margin: 4px 0;
    line-height: 18px;
    padding: 0;
    color: #333;
}
.signature {
    height: 100px;
}
.break-after {
    margin-bottom: 14px;
}
@media print {
    body {
        width: auto;
        -webkit-print-color-adjust: exact;
    }
    header {
        -webkit-print-color-adjust: exact;
    }
    section.main {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
