body,
div,
h1,
h2,
h3,
h4,
li,
ul {
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	font-size: 14px;
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f7f7f7;
	color: #333;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial,
		'Lucida Grande', sans-serif;
	font-style: normal;
	cursor: auto;
}

.personal-contact,
.professional-titles,
.education,
.education-detail,
.company-accomplishment,
.company-skills,
.skills,
.professional-experience,
.project-skills,
.company-accomplishments,
.project-details {
	color: #666;
	font-family: Georgia, serif;
	font-size: 11px;
}

.education-header,
.employment-history-header,
.professional-summary-header,
.projects-header {
	color: #0098ba;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 19px;
	border-top: dotted #0098ba 2px;
	padding-top: 16px;
	margin-bottom: 10px;
	text-align: center;
}

.professional-summary-header {
	text-align: center;
}

.professional-titles,
.professional-experience,
.education,
.skills {
	display: inline-block;
	text-align: center;
	vertical-align: text-bottom;
	width: 100%;
	line-height: 14px;
	margin: 2px 0;
}

.employment-history-header {
	margin-bottom: 0;
}

.company {
	list-style: none;
	padding-top: 6px;
	margin-top: 28px;
}

.company > .company-wrapper {
	border-top: dotted #66ccaa 2px;
	padding-top: 4px;
}

@media print {
	.company {
		page-break-inside: avoid;
		margin-top: 0;
		padding-top: 28px;
	}
}

.company:first-child {
	padding-top: 0;
	margin-top: 20px;
}

.company:first-child > .company-wrapper {
	border-top: none;
}

.company-details {
	position: relative;
}

.company-name {
	font-family: Georgia, serif;
	font-size: 20px;
	font-weight: bold;
	color: #343434;
	width: 75%;
	display: inline-block;
	word-wrap: break-word;
}

.company-location {
	font-family: Georgia, serif;
	font-size: 10px;
	color: #343434;
	font-weight: bold;
	margin-top: 4px;
}

.company-dates {
	float: right;
	font-family: Georgia, serif;
	font-size: 36px;
	color: #D0D0D0;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: -10px;
}

.company-accomplishments {
	margin-top: 6px;
	margin-left: 16px;
}

.company-accomplishment {
	margin: 4px 0;
}

.projects-header {
	display: none; /* This is an ugly title; remove it for now */
	font-size: 16px;
	border-top: 0;
	margin: 0;
	padding: 16px 0 0;
	line-height: 12px;
}

.projects {
}

.project {
	page-break-inside: avoid;
}

.project-summary {
	position: relative;
	margin-top: 16px;
}

.project-name {
	margin: 0;
	padding: 0;
}

.project-role {
	margin: 4px 0 0;
	padding: 0;
	font-style: italic;
	font-size: 12px;
}

.project-dates {
	float: right;
	font-family: Georgia, serif;
	font-size: 24px;
	color: #D0D0D0;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: 0;
}

.project-skills {
	font-family: Georgia, serif;
	line-height: 16px;
	margin: 6px 0 0;
	font-style: italic;
}

.project-details {
	font-family: Georgia, serif;
	margin-top: 8px;
	margin-left: 20px;
}

.education-detail,
.project-detail {
	list-style-position: inside;
	word-wrap: break-word;
	line-height: 14px;
	margin: 4px 0;
	text-indent: -30px;
	padding-left: 29px;
}

main {
	background-color: #fff;
	margin: 60px auto;
	min-height: 792px;
	padding: 55px 75px;
	width: 662px;
	border-radius: 60px;
}

.full-name {
	text-align: center;
	line-height: 1;
	color: #0098ba;
	display: block;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 32px;
}

address {
	margin-top: 10px;
	text-align: center;
	color: #666;
	font-family: Georgia, serif;
	font-size: 10px;
	font-style: normal;
}

.personal-contact {
	text-align: center;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:active {
	color: blue;
	text-decoration: underline;
}

.page-break-before {
	page-break-before: always;
}

.download {
	position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-image: url('pdf.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.education-header,
.education-history {
	/* These take up too much space */
	display: none;
}

@media print {
	body {
		margin: 0;
		background-color: white;
		border: 1px solid transparent;
	}

	main {
		width: 662px;
		min-height: 642px;
		padding: 0;
	}

	.download {
		display: none;
	}
}
