body,
div,
h1,
h2,
h3,
h4,
li,
ul {
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	font-size: 14px;
}

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f7f7f7;
	color: #333;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial,
		'Lucida Grande', sans-serif;
	font-style: normal;
	cursor: auto;
}

.personal-contact,
.professional-titles,
.education-detail,
.job-accomplishment,
.job-skills,
.professional-experience,
.skills {
	color: #666;
	font-family: Georgia, serif;
	font-size: 11px;
}

.education-header,
.employment-history-header,
.professional-summary-header {
	color: #0098ba;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 19px;
	border-top: dotted #0098ba 2px;
	padding-top: 16px;
	margin-bottom: 10px;
}

.professional-summary-header {
	text-align: center;
}

.professional-titles,
.professional-experience,
.skills {
	display: inline-block;
	text-align: center;
	vertical-align: text-bottom;
	width: 100%;
	line-height: 14px;
	margin: 2px 0;
}

.employment-history-header {
	margin-bottom: 0;
}

.job {
	padding-top: 10px;
}

.job-title {
	font-family: Georgia, serif;
	font-size: 12px;
	color: #343434;
	width: 75%;
	display: inline-block;
	word-wrap: break-word;
}

.job-dates,
.job-location {
	font-family: Georgia, serif;
	font-size: 10px;
	color: #343434;
	font-weight: bold;
}

.job-title {
	font-weight: bold;
}

.job-dates {
	float: right;
}

.job-skills {
	line-height: 14px;
	margin: 6px 0;
}

.education-detail,
.job-accomplishment {
	list-style-position: inside;
	word-wrap: break-word;
	line-height: 14px;
	margin: 4px 0;
	text-indent: -30px;
	padding-left: 29px;
}

main {
	background-color: #fff;
	margin: 75px auto;
	min-height: 792px;
	padding: 60px 75px;
	width: 662px;
	border-radius: 60px;
}

.full-name {
	text-align: center;
	line-height: 1;
	color: #0098ba;
	display: block;
	font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 32px;
}

address {
	margin-top: 10px;
	text-align: center;
	color: #666;
	font-family: Georgia, serif;
	font-size: 10px;
	font-style: normal;
}

.personal-contact {
	text-align: center;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:active {
	color: blue;
	text-decoration: underline;
}

.page-break-before {
	page-break-before: always;
}

.download {
	content: '';
	background: url('pdf.png') no-repeat;
	position: fixed;
	top: 20px;
	right: 20px;
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
}

@media print {
	body {
		margin: 0;
		background-color: white;
		border: 1px solid transparent;
	}

	main {
		width: 662px;
		min-height: 642px;
		padding: 0;
	}

	.download {
		display: none;
	}
}
